.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 0.2fr;
  grid-gap: 10px;
}

h1 {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

#canvas {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-self: center;
}

.camera {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  justify-content: center;
  width: 100%;
}

#startbutton {
}

.output {
  grid-row: 2;
  grid-column: 3;
  display: flex;
  justify-self: center;
}

#photo {
  width: 320px;
  height: 240px;
}

button {
  background-color: #000080;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

#filters {
  grid-row: 1;
  grid-column: 1;
}
